{% extends 'layout.html.j2' %}
{% block content %}
    <div class="container">
        <div class="header-row">
            <h3>Zone Management</h3>
            <div class="home-options">
                {% if modal is defined %}
                    <button class="add-zone" onclick="document.querySelector('#{{ modal.id }}').classList.toggle('modal-active')">{{ modal['open-char'] }}</button>
                {% endif %}
            </div>
        </div>
        <div class="zones">
            {% for zone in zones %}
            <div class="zone">
                <h4>
                    <a href="/zone/{{zone.name}}"> {{ zone.name }} </a>
                </h4>
                <p> Records Managed: {{ zone.record_count }} </p>
            </div>
            {% endfor %}
        </div>
        {% if modal is defined %}
            {% include 'modal.html.j2' %}
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}