<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ZoneForge - DNS Zone File Management Made Easy">
        <title>ZoneForge</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>
                <a id="wsite-title" href="{{ url_for('home') }}">
                ZoneForge
                </a>
            </h1>
            <p>DNS Zone File Management Made Easy</p>
        </header>
        {% include 'nav.html.j2' %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
        {% set version = config['VERSION'] %}
            <p>
                <a target="_blank" href="https://github.com/holysoles/zoneforge">ZoneForge</a>
                {% if version %}
                -
                <a target="_blank" href="https://github.com/holysoles/zoneforge/releases/tag/{{ version }}">{{ version }}</a>
                {% endif %}
                |
                Apache License 2.0
            </p>
        </div>
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    </body>
</html>