<div id="{{ modal.id }}" class="modal">
    <div class="modal-content">
        <span class="close">
            <button onclick="document.querySelector('#{{ modal.id }} form').reset() ;document.querySelector('#{{ modal.id }}').classList.toggle('modal-active')">{{ modal['close-char'] }}</button>
        </span>
        <form id="{{ modal.id }}-form" data-api-method="{{ modal['api-method'] }}" data-api-endpoint="{{ modal['api-endpoint'] }}">
            <h2>{{ modal.heading }}</h2>
            {% for section in modal.form %}
                {% if section.heading %}
                <h3>{{ section.heading }}</h3>
                {% endif %}
                <div class="form-group">
                {% for input in section.inputs %}
                    <div class="form-item">
                        <label for="{{ input.id }}">{{ input.label }}
                            <span class="tooltip">{{ input.tooltip }}</span>
                        </label>
                        {% if modal_default_values is defined %}
                            {% set default_value = modal_default_values[input.id] if input.id in modal_default_values else none %}
                        {% endif %}
                        <input type="{{ input.type }}" id="{{ input.id }}" name="{{ input.id }}" {% if default_value is not none %} value="{{ default_value }}" {% endif %}
                        {% if input.required %} required {% endif %}
                        {% if 'placeholder' in input %} placeholder="{{ input.placeholder }}" {% endif %}
                        />
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>