<div id="{{ modal.id }}" class="modal">
    <div class="modal-content">
        <span class="close">
            <button onclick="document.querySelector('#{{ modal.id }} form').reset() ;document.querySelector('#{{ modal.id }}').classList.toggle('modal-active')">{{ modal['close-char'] | safe }}</button>
        </span>
        <form id="{{ modal.id }}-form" data-api-method="{{ modal['api-method'] }}" data-api-endpoint="{{ modal['api-endpoint'] }}">
            <h2>{{ modal.heading }}</h2>
            {% for section in modal.form %}
                {% if section.heading %}
                <h3>{{ section.heading }}</h3>
                {% endif %}
                <table class="form-group">
                {% for input in section.inputs %}
                    <tr class="form-item">
                        <td>
                            <label for="{{ input.id }}" 
                                class="{% if input.required %} required{% endif %}"
                            >{{ input.label }}
                                <span class="tooltip">{{ input.tooltip }}</span>
                            </label>
                        </td>
                        {% if modal_default_values is defined %}
                            {% set default_value = modal_default_values[input.id] if input.id in modal_default_values else none %}
                        {% endif %}
                        <td>
                            <input type="{{ input.type }}" id="{{ input.id }}" name="{{ input.id }}" {% if default_value is not none %} value="{{ default_value }}" {% endif %}
                            {% if input.required %} required {% endif %}
                            {% if 'placeholder' in input %} placeholder="{{ input.placeholder }}" {% endif %}
                            {% if 'readonly' in input %} readonly="{{input.readonly}}" {% endif %}
                            />
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endfor %}
            <div class="form-actions">
                <input type="submit" value="Submit"/>
                {% if modal.deleteable %}
                <input type="delete" value="Delete" data-api-endpoint="{{ modal['api-endpoint'] }}" data-api-id="{{ modal['api-id'] }}" data-delete-redirect="{{ url_for(modal['delete-redirect']) }}"/>
                {% endif %}
            </div>
        </form>
    </div>
</div>
