{% extends 'layout.html.j2' %}
{% block content %}
    <div class="manager">
        <div class="header-row">
            <h3>Zone: {{zone}}</h3>
            <div class="zone-options">
                {% if modal is defined %}
                    <button class="delete-zone" onclick="document.querySelector('#{{ modal.id }}').classList.toggle('modal-active')">{{ modal['open-char'] }}</button>
                {% endif %}
            </div>
        </div>
        <div class="zones">
            <table>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Record Name</th>
                        <th>Record Type</th>
                        <th>TTL</th>
                        <th>Data</th>
                        <th>Comment</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.type }}</td>
                        <td>{{ record.ttl }}</td>
                        <td>
                            {% if record.data %}
                                {% for key, value in record.data.items() %}
                                    {{ key[0]|upper}}{{key[1:] }}: {{ value }}<br>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ record.comment }}</td>
                        <td class="actions-cell">
                            {% set record_url_path = url_for("record_resource", **{"record_name": record.name, "zone_name": zone}) %}
                            {% set record_data_str = record.data.values() | join(' ') %}
                            {% set record_action_attrs = 'data-url="'+record_url_path+'" data-record-type="'+record.type+'" data-record-data="'+record_data_str+'"' %}
                            <div class="actions">
                                <button class="edit" {{ record_action_attrs }}>Edit</button>
                                <button class="delete" {{ record_action_attrs }}>Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if modal is defined %}
            {% include 'modal.html.j2' %}
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/zone.js') }}"></script>
{% endblock %}